# Python
*.egg-info/
*.pyc
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
/.build/
/requirements.txt
__pycache__/
dist/

# Terraform
*.tfbackend
*.tfstate*
.terraform/
terraform/dummy.zip

# Other
function.zip
